{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
		{% if post.published_date %}
		    <div class="date">
		        {{ post.published_date }}
		    </div>
		{% else %}
		    <a class="btn btn-default" href="{% url 'post_publish' pk=posts.pk %}">Publish</a>
		{% endif %}
		        
        <h1>{{ posts.title }}</h1>
        <h3>{{ posts.author }}</h3>
        <p>{{ posts.published_date }}</p>
        <p>{{ posts.text|linebreaksbr }}</p>
        <a class="btn btn-default" href="{% url 'post_edit' pk=posts.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default" href="{% url 'post_remove' pk=posts.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
    </div>
    <hr>
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=posts.pk %}">Add comment</a>
	{% for comment in posts.comments.all %}
		{% if user.is_authenticated or comment.approved_comment %}
	    <div class="comment">
	        <div class="date">
	        {{ comment.created_date }}
            {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
            {% endif %}
	    </div>
	        <strong>{{ comment.author }}</strong>
	        <p>{{ comment.text|linebreaks }}</p>
	    </div>
	    {% endif %}
	{% empty %}
	    <p>No comments here yet :(</p>
	{% endfor %}
{% endblock %}
